@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

h3 {
  color: #fff;
  font-size: 1rem;
}

span{
  text-decoration: underline;
}

.TodoWrapper {
  background: #1A1A40;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.isCompleted {
  color: #c5aeff;
  text-decoration: line-through;
}

.link{
  margin-top: -4rem;
  margin-bottom: 2rem;
}

.radio {
	display: inline-block;
	overflow: hidden;
  color: #fff;
}

.radio-item {
	display: inline-block;
}

.radio-item input[type=radio] {
	display: none;
}

.radio-item label {
	display: inline-block;
	padding: 0px 15px;   
	line-height: 34px; 
	cursor: pointer;
	user-select: none;   
}
 
.radio .item-1 label {
	border: 1px solid #8758ff;
}
.radio .item-2 label {
	border: 1px solid #8758ff;
}
 
.radio input[type=radio]:checked + label {
	background: #8758ff;
}

.item{
  display: flex;
  justify-content: space-between;
}

.lab{
  margin-top: 20px;
  margin-right: 30px;
}

.lab-gen{
  margin-top: 5px;
}

.con-gen{
  margin-bottom: 8px;
}
